<!-- Main Navigation Start -->
<nav class="navbar navbar-dark navbar-expand-md navigation-clean-button">
	<div class="container"><a class="navbar-brand" href="#">Angular Demo</a><button data-toggle="collapse" class="navbar-toggler"
      data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
        class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="nav navbar-nav mr-auto">
				<li class="nav-item" role="presentation"><a class="nav-link" href="#" routerLink="/">Home</a></li>
				<li class="nav-item" role="presentation"><a class="nav-link" href="#" routerLink="friend">Friend</a>
				</li>
				<li class="nav-item" role="presentation"><a class="nav-link" href="#" routerLink="course">Course</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- Main Navigation End -->

<router-outlet></router-outlet>